@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #F0EEED;
    --cor-secundaria: #000000;
    --cor-terciaria: #0000ff;
    --cor-hover: #bbe1f7;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);

}

/* "header --- PAGINA INICIAL" */
.cabecalho{
    padding: 2% ;
    
    
}
.cabecalho__menu{
    display: flex;
    gap: 5.5rem;
    justify-content: center;
    
    
}
.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
    
    
}

/* "main" */
.apresentacao{
    padding: 5% 15%;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    text-align: center;
    
}
.apresentacao__conteudo{
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: justify;
}

.apresentacao__conteudo__titulo{
    font-size: 1.2rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__texto{
    font-size: 1.4rem;
    font-family: var(--fonte-secundaria);
    align-items: center;
    text-align: justify;
}

/* "div" */
.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}
.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}
.apresentacao__links__navegacao:hover{
    background-color: var(--cor-hover);
}
/* "footer" */

.rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
    width: 100%;

}

/* "header--SOBRE MIM" */

.apresentacao__imagem{
    width: auto;
    height: auto;
}

.apresentacao__conteudo__texto__sobremim{
    font-size: 1.4rem;
    font-family: var(--fonte-secundaria);
    align-items: center;
    text-align: justify;
}

/* "header--Currículo" */

.cabecalho__curriculo{
    padding: 2% ;
    
}
.cabecalho__menu__curriculo{
    display: flex;
    gap: 5.5rem;
    justify-content: center;
    
    
}
.cabecalho__menu__link__curriculo{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao__curriculo{
    padding: 2% 8%;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
    text-align: center;
    
}
.apresentacao__conteudo__curriculo{
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: justify;
    gap: 20px;
}

.apresentacao__conteudo__titulo__curriculo {
    font-size: 1.3rem;
    font-family: var(--fonte-primaria);
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: justify;

}

.apresentacao__conteudo__subtitulo__curriculo{
    font-size: 1rem;
    font-family: var(--fonte-primaria);
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: justify;
}

.apresentacao__conteudo__texto__curriculo {
    font-size: 1rem;
    font-family: var(--fonte-secundaria);
    align-items: center;
}

/* "RESPONSIVIDADE" */

@media (max-width: 1200px) {
   
    
    /* "header --- PAGINA INICIAL" */

    .cabecalho{
         padding: 1rem;
         justify-content:center;
         text-align: center;
    }
    .cabecalho__menu{
        justify-content: center;
        display: flex;
        gap: 1rem;
        
    }

    .cabecalho__menu__link{
        font-family: var(--fonte-secundaria);
        font-size: 1rem;
        font-weight: 600;
        color: var(--cor-terciaria);
        text-decoration: none;
    }

    /* "main --- PAGINA INICIAL" */

    .apresentacao{
        flex-direction: column-reverse;
        padding: 2rem;
        justify-content: center;
        text-align: justify;
    }

    .apresentacao__conteudo{
        width: auto;
        text-align: center;
    }

    .apresentacao__conteudo__titulo {
        font-size: 1.5rem;
        font-family: var(--fonte-primaria);
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .apresentacao__conteudo__texto{
        font-size: 1.2rem;
        font-family: var(--fonte-secundaria);
        align-items: center;
        text-align: center;
    }

    .apresentacao__links__navegacao{
        display: flex;
        justify-content: center;
        gap: 1rem;
        border: 2px solid var(--cor-terciaria);
        width: 100%;
        text-align: center;
        border-radius: 8px;
        font-size: 2rem;
        font-weight: 600;
        padding: 2rem 0;
        text-decoration: none;
        color: var(--cor-secundaria);
        font-family: var(--fonte-secundaria);
    }
    .apresentacao__links__navegacao:hover{
        background-color: var(--cor-hover);
    }

     /* CURRICULO */

    /* .apresentacao__conteudo__titulo__curriculo {
    font-size: 0.90rem;
    font-family: var(--fonte-primaria);
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: justify;
    }
    .apresentacao__conteudo__subtitulo__curriculo{
        text-align: center;
    }

    .apresentacao__conteudo__texto__curriculo {
        font-size: 1.1rem;
        font-family: var(--fonte-secundaria);
        align-items: center;
        width: auto;
        text-align: center;
    } */

    .cabecalho__curriculo{
        padding: 1rem;
        justify-content:center;
        text-align: center;
   }
   .cabecalho__menu__curriculo{
       justify-content: center;
       display: flex;
       gap: 1rem;
       
   }

    /* .cabecalho__menu__link__curriculo{
       font-family: var(--fonte-secundaria);
       font-size: 1rem;
       font-weight: 600;
       color: var(--cor-terciaria);
       text-decoration: none;
   }*/

    .cabecalho__menu__link__curriculo{
        font-size: 1.1rem;
    }

    .apresentacao__links__curriculo{
        text-align: center;
    }

    .cabecalho__menu__link{
       font-size: 1.1rem;
    } 

    .apresentacao__links{
        text-align: center;
    }

    .apresentacao__imagem{
        max-width: 200px;
        
    }

    .rodape{
        color: var(--cor-primaria);
        background-color: var(--cor-terciaria);
        padding: 24px;
        text-align: center;
        font-family: var(--fonte-secundaria);
        font-size: 1.5rem;
        font-weight: 400;
        width: 100%;
    
    }
}